apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: okta-oidc-testapp1
spec:
  plugin:
    traefik-oidc-auth:
      CallbackUri: /oauth2/callback
      Provider:
        ClientID: urn:k8s:secret:okta-oidc-testapp1:clientId
        ClientSecret: urn:k8s:secret:okta-oidc-testapp1:clientSecret
        Url: https://perchwell.okta.com
      Secret: urn:k8s:secret:okta-oidc-testapp1:secret

# ---
# apiVersion: traefik.io/v1alpha1
# kind: Middleware
# metadata:
#   name: okta-oidc-testapp1
# spec:
#   plugin:
#

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: github-oauth2-testapp2
spec:
  plugin:
    traefikoidc:
      providerURL: https://github.com/login/oauth
      clientID: urn:k8s:secret:github-oauth2-testapp2:clientId
      clientSecret: urn:k8s:secret:github-oauth2-testapp2:clientSecret
      sessionEncryptionKey: urn:k8s:secret:github-oauth2-testapp2:secret
      callbackURL: /oauth2/callback
      logoutURL: /oauth2/logout
      scopes:
        - user:email
        - read:user
